<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a4c05f9bf6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <title>groupie-tracker</title>
</head>
<body>
    <header>
        <a href="javascript:void(0);" class="icon" onclick="showHamburger()">
            <i class="fa fa-bars fa-3x"></i>
        </a>
        <section class="nav nav-about">
            <div class='logo'>
                <img src="/assets/wave.png" alt="Logo">
            </div>
            <ul class="nav-bar">
                <li><a href="/"><b>Home</b></a></li>
                <li><a href="/groups"><b>Groups</b></a></li>
                <li><a href="/about">About</a></li>
                <li><a href="https:/github.com/AbdullaYerezhep/groupie-tracker">Git</a></li>
            </ul>
    
        </section>
    </header>
    <section class="main">
        <div class="about">
        <h1>About app</h1>
        <div class="about__text">
            <h3>
                This project is part of my journey at the incredible programming school "Alem".</br>
            </h3>
            <p>
                Groupie-Tracker is a web application that helps people get to know cool groups/artists more closely. It has taught me to work with APIs and manipulate data to create a site that displays information.</br><br>
            </p> 
                
            <h3>
                <b> The website uses an API to store data about artists/groups, with each entry consisting of four fields:</b>
            </h3>
            <ol>
                <li> Artists: contains information about bands and artists, such as their name(s), image, start year, date of their first album, and members.</li>
                <li> Locations: shows the last and/or upcoming concert locations.</li>
                <li>Dates: displays the last and/or upcoming concert dates.</li>
                <li>Dates: displays the last and/or upcoming concert dates.</li>
            </ol>
            <p>
                Additionally, the website features a search function that provides suggestions as users type in a query. Users can also filter the results based on the creation date, first album date, locations of concerts, and number of members.<br></br>
                With these added features, Groupie-Tracker offers an even more robust way for people to explore and discover their favorite bands and artists.</br>
                You can check out source code of the project by clicking "Git" section on navigation panel above or by clicking <a href="https:/github.com/AbdullaYerezhep/groupie-tracker">here.</a>
            </p>
        </div>
        <div class="about__img"></div>
    </section>
    <footer> Copyright © 2023 Creata21. </br
        > All rights reserved.</footer>
        <script>
            function showHamburger() {
                navBar = document.querySelector(".nav")
                if (navBar.style.display === "flex") {
                    navBar.style.display = "none"
                }else {
                    navBar.style.display = "flex"
                }
            }
            // document.addEventListener("resize", () =>{
            //     console.log("ds")
            // })
         </script>
</body>
</html>