* {
    font-family: 'Pirata One', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body  {
    height:100%;
  }
  
  body  {
    display: grid;
    grid-template: "head" "main" "footer";
    grid-template-rows: 60px 1fr 50px;
  }

  @media screen and (max-width: 550px) {
  
    header  {
      /* border-bottom: 1px inset #35322e9d; */
      grid-area: head;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
    }
    
    header::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 4%; /* adjust as needed for your desired width */
      width: 92%;
      border-bottom: 0.5px solid #929090; /* or whatever color you prefer */
    }
    .icon {
      background: #eea849;
      display: block;
      text-align: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      height:100%;
      width:12%;
    }
  
    .icon i {
      width: 100%;
      height: 100%;
      color:#FFF;
    }
  
    .nav {
      height: 100%;
      width: 100%;
      background: white;
      padding: 1rem 4.875rem 1rem 4.875rem;
      display: none;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-bar {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  
    .nav-bar li {
      float: left;
      list-style: none;
      border-bottom: 0.5px solid #929090;
      width: 100%;
    }
    
    .nav-bar li a {
      font-size: 20px;
      display: block;     
      color:#1e1e3d;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
    .nav-bar li a:hover:not(.active) {
      color: #ee7049;
    }
  
    .logo {
      height: 40px;
      width: 60px; 
    }
    
    .logo img {
      width:100%;
      height: 100%; 
    }
  
  .main {
    grid-area: main;
    color:#1e1e3d;
    display:flex;
    justify-content: center;
    padding: 50px;
  }
  
  .about {
    padding: 50px;
    margin-top: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px dashed #ee8549;
    gap:30px;
    width:100%;
    border-radius: 30px;
    color:#1e1e3d;
  }
  
  .about__text p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:10px 0px 0px 20px;
  }

  .about__text h3 {
    font-size: 32px;
  }

  .about h1 {
    font-size: 42px;
  }
  
  .about__text li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:10px 0px 0px 20px;
  }
   a {
    /* text-decoration: none; */
    font-size: 20px;
    color:#ee8549;
  }
  
  footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to left, #f46b45, #eea849);
    color:#FFF;
  }
}

@media screen and (min-width: 551px) {
  header  {
    grid-area: head;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4%; 
    width: 92%;
    border-bottom: 0.5px solid #929090;
  }
  .icon {
    background: black;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width:12%;
  }

  .icon i {
    width: 100%;
    height: 100%;
  }
  
  .nav {
    height: 100%;
    width: 100%;
    background: white;
    padding: 1rem 4.875rem 1rem 4.875rem;
    display: flex;
    align-items: center;
  }
  
  .nav-home {
    display:flex;
  }
  
  .nav-bar li {
    float: left;
    list-style: none;
    border-right: 0.5px solid #929090;
    width: 80px;
  }
  
  .nav-bar li a {
    font-size: 20px;
    display: block;     
    color:#1e1e3d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-bar li a:hover:not(.active) {
    color: #f3be8d;
  }
  
  .logo {
    height: 40px;
    width: 80px; 
  }
  
  .logo img {
    width:100%;
    height: 100%; 
  }
  
  .main {
    grid-area: main;
    color:#1e1e3d;
    display:flex;
    justify-content: center;
    padding: 50px;
  }
  
  .about {
    padding: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px dashed #ee8549;
    gap:30px;
    width:50%;
    border-radius: 30px;
    color:#1e1e3d;
  }
  
  .about__text p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:10px 0px 0px 20px;
  }

  .about__text h3 {
    font-size: 32px;
  }

  .about h1 {
    font-size: 42px;
  }
  
  .about__text li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:10px 0px 0px 20px;
  }
   a {
    /* text-decoration: none; */
    font-size: 20px;
    color:#ee8549;
  }
  
  footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to left, #f46b45, #eea849);
    color:#FFF;
  }
}