* {
    font-family: 'Pirata One', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body  {
    height:100%;
  }

  .error-message {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-message h1 {
    font-size: 72px;
  }